body {
    width: 75%;
    height: 75%;
    margin: 150px auto;
    background-color: aliceblue;
}

input {
    width: 90%;
    height: 50px;
    padding: 30px;
}

#main {
    height: 100%;
    margin: 5px;

}

#content {
    padding: 50px 100px;
    margin: 25px 0px 50px 0px;
}

.List {
    list-style-type: none;
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 25px;
    margin-top: 1px;
    list-style-type: none;
}

ul li:hover {
    border-bottom: 1px solid black;
}

#box {
    padding: 25px;
}

.close {
    padding: 5px;
}

.close:hover {
    background-color: aliceblue;
    color: black;
    padding: 5px;
    cursor: pointer;
    text-transform: lowercase;
    font-size: medium;
    font-weight: bold;
}
.done{
    text-decoration: line-through;
}
